{% extends('admin/admin.html.twig') %}


{% block pagecssplugin %}
{% endblock %}


{% block mainpageheader %}
    <h1 class="page-heading">DESTINATION MANAGEMENT</h1>
{% endblock %}


{% block mainpagecontainerheader %}
    <h3 class="block-title">Add Destination</h3>
{% endblock %}


{% block mainpagecontainer %}
    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}


{% block pagejsplugin %}
{% endblock %}


{% block pagejscode %}
{% endblock %}







