{% extends('admin/admin.html.twig') %}

{% block mainpageheader %}
    <h1 class="page-heading">mainpageheader</h1>
{% endblock %}


{% block mainpagecontainerheader %}
    <h3 class="block-title">mainpagecontainerheader</h3>
{% endblock %}


{% block mainpagecontainer %}
    <h3 class="block-title">mainpagecontainer</h3>
{% endblock %}








