{% extends('admin/admin.html.twig') %}



{% block mainpageheader %}
    <h1 class="page-heading">TOUR MANAGEMENT</h1>
{% endblock %}


{% block mainpagecontainerheader %}
    <h3 class="block-title">Approve </h3>
{% endblock %}


{% block mainpagecontainer %}

{% endblock %}








