*
{
    width:100%;
    display:-moz-box;
    -moz-box-pack:center;
    -webkit-box-pack:center;
}
#middlepage
{
    margin-top:50px;
    margin-bottom: 50px;
}
#middlepage *
{
    display:block;
    text-align:center;
    margin-bottom:30px;
}
.col-centered
{
    display:inline-block;
    float:none;
    text-align:center;
    margin-right:-4px;
}
article
{
    color:gray;
    font-size:15px;
    margin-left:-25px;
    border-style:solid;
    border-width: 3px;
    border-color:#26AC4A;
}