body
{
    background-color: #ccffcc;
    background-repeat: repeat-y;
}
.container
{
    margin-top:10px;
    padding:0;
    width:1082px;
    background-color: #ffffff;
}
.container .col-md-6
{
    margin-top:20px;
    margin-bottom:20px;
}
.my-custom-button
{
    background-image: url("../images/personal/submit.png");
    width: 200px;
    background-size:100%;
    background-size:200px auto;
    color:transparent;
    margin-right:100px;
}
.infotext
{
    float:right;
    margin-right:150px;
}
h4
{
    color:darkgreen;
    text-decoration: underline;
}
h5
{
    color:darkgreen;
    text-decoration: underline;
}