<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Page</title>
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/about.css') }}">
</head>
<body>
    <div id="toppage">
        <img src="{{ asset('bundles/hearwegohearwego/images/banner.png') }}" align="middle" style="width:100%">
    </div>
    <div class="container" id="middlepage">
        <div class="col-md-8 col-md-offset-2 col-centered" text-align="centered">
            <img src="{{ asset('bundles/hearwegohearwego/images/about/introduction.png') }}" style="width:700px">
            <article>
            Our website brings users new traveling experience.
            You can download audio about travel places that you are going to visit.
            Those audio provide detailed information about history, culture and infrastructure of your
            destination. During your trip, you can enjoy lively sound from our audio offline.
            In addition, we provide information about travel tours of different places supported by various
            travel agencies for you to save time to make your best selection suitable with your budget.
            </article>
        </div>
    </div>
</body>
</html>