<div class="map " >
    <img class="map-img" src="{{ asset('bundles/hearwegohearwego/images/detail/hinh4.jpg') }}">
    <div class="download">
        <img class="icon" src="{{ asset('bundles/hearwegohearwego/images/detail/download.png') }}">
    </div>
    <div class="audio text-center" >
        <audio controls>
            <source src="#" type="audio/mpeg">
            Your browser does not support this audio type
        </audio>
    </div>
</div>