<div class="map" >
    <img class="map-img" src="{{ asset('bundles/hearwegohearwego/images/detail/hinh4.jpg') }}">

    <div class="audio text-center" >
        <audio class="col-md-9 pull-left" controls>
            <source src="{{ audio.getWebPath }}" type="audio/mpeg">
            Your browser does not support this audio type
        </audio>
        {% if app.user %}
        {% if audio.getWebPath ends with '.mp3' %}
        <button class="btn btn-primary col-md-3 " data-toggle="modal" data-target="#myModal">
            Buy
        </button>
        {% else %}
            <button class="btn btn-danger col-md-3 " disabled="disabled">
                Not Ready
            </button>
        {% endif %}
        {% else %}
            <button class="btn btn-danger col-md-3 " disabled="disabled">
                Login first
            </button>
        {% endif %}
    </div>

</div>

<!-- Modal -->
{% render controller('HearWeGoHearWeGoBundle:User:checkOut', { 'audioid': audio.id }) %}