<div class="map" >
    <img class="map-img" src="{{ asset('bundles/hearwegohearwego/images/detail/hinh4.jpg') }}">

    <div class="audio text-center" >
        <audio controls>
            <source src="{{ audio }}" type="audio/mpeg">
            Your browser does not support this audio type
        </audio>
    </div>
</div>