
<div class="comment row">
    <div class="avatar col-md-3">
        <img src="{{ asset('bundles/hearwegohearwego/images/detail/avatar.png') }}">
    </div>
    <div class="cmt col-md-9">
        <div class="head row">
            <h3 class="username col-md-5"> {{ comment.user.getFirstname }} </h3>
            <span class="date col-md-4"> {{ comment.createdAt|date('m-d-Y H:i') }} </span>
        </div>
        <div class="body">
            <p> {{ comment.content }} </p>
        </div>
    </div>
</div>
