<div class="row tour">
    <div class="logo col-md-5">
        <img src="{{ asset('bundles/hearwegohearwego/images/detail/play_btn.png') }}">
    </div>
    <div class="info col-md-7">
        1.000.000 VND
    </div>
</div>