

{% for tour in tours %}

    <div class="row tour">
        <div class="logo col-md-5">
            <a href="{{ path('tour', { 'id': tour.id }) }}"><button>Detail</button></a>
        </div>
        <div class="info col-md-7">

            <table class="table table-hover">
                <tr>
                    <td>Tour</td>
                    <td>{{ tour.name }}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{ tour.price }} $</td>
                </tr>
                <tr>
                    <td>Start</td>
                    <td>{{ tour.startdate|date('d-M-Y') }}</td>
                </tr>
            </table>
        </div>
    </div>

{% endfor %}