

{% for tour in tours %}

    <div class="row tour">
        <div class="logo col-md-5">
            <img src="{{ asset('bundles/hearwegohearwego/images/detail/play_btn.png') }}">
        </div>
        <div class="info col-md-7">
            {{ tour.price }} $
        </div>
    </div>

{% endfor %}