<head>
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/rating.css') }}" />
    <script src="{{ asset('bundles/hearwegohearwego/js/jquery.min.js') }}"></script>
    <script>
        $(function () {
            $("#rating .stars").click(function () {
                var star=$(this).val();
                $.ajax({
                    url: "{{ path('rating',{'id':audio_id}) }}",
                    type: 'POST',
                    data: {star:star},
                    success: function(result)
                    {
                        alert('Thanks for rating!');
                    }
                });
            });
        });
    </script>
</head>
<body>
<fieldset id='rating' class="rating">
    <h4><b>Rate this audio:</b></h4>
    <input class="stars" type="radio" id="star5" name="rating" value="5" />
    <label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input class="stars" type="radio" id="star4" name="rating" value="4" />
    <label class = "full" for="star4" title="Good - 4 stars"></label>
    <input class="stars" type="radio" id="star3" name="rating" value="3" />
    <label class = "full" for="star3" title="Medium - 3 stars"></label>
    <input class="stars" type="radio" id="star2" name="rating" value="2" />
    <label class = "full" for="star2" title="Bad - 2 stars"></label>
    <input class="stars" type="radio" id="star1" name="rating" value="1" />
    <label class = "full" for="star1" title="Terrible - 1 star"></label>
</fieldset>
</body>